<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>779499834281-567i05q44pddogjdsernf4hq8a8p4g37.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.779499834281-567i05q44pddogjdsernf4hq8a8p4g37</string>
	<key>API_KEY</key>
	<string>AIzaSyA2Qn-XjyKgN5pXiD7ewjcwwBpSumQyLp4</string>
	<key>GCM_SENDER_ID</key>
	<string>779499834281</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.s4sMobileapp</string>
	<key>PROJECT_ID</key>
	<string>sneaks4sure-1088</string>
	<key>STORAGE_BUCKET</key>
	<string>sneaks4sure-1088.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:779499834281:ios:e5786b816d4ba3e7de52b8</string>
</dict>
</plist>